{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Статистика -->
<div class="container mt-4">
    <h2 class="text-center">Статистика</h2>
    <div class="stats-container">
        <div class="card">
            <div class="card-body">
                <i class="fas fa-futbol fa-3x mb-2"></i>
                <p class="text-muted">Матчи</p>
                <h3>{{ total_matches }}</h3>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <i class="fas fa-trophy fa-3x mb-2"></i>
                <p class="text-muted">Победы</p>
                <h3>{{ wins }}</h3> <!-- Исправлено: wins|length удалено -->
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <i class="fas fa-handshake fa-3x mb-2"></i>
                <p class="text-muted">Ничьи</p>
                <h3>{{ draws }}</h3> <!-- Исправлено: draws|length удалено -->
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <i class="fas fa-times-circle fa-3x mb-2"></i>
                <p class="text-muted small" style="white-space: nowrap;">Поражения</p>
                <h3>{{ defeats }}</h3> <!-- Исправлено: defeats|length удалено -->
            </div>
        </div>
    </div>
    <div class="stats-container">
        <div class="card">
            <div class="card-body">
                <img src="{% static 'img/icons/goal_1.png' %}" alt="" width="70">
                <p class="text-muted small">Забитые мячи </p>
                <h3>{{ total_goals_scored }}</h3>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="{% static 'img/icons/goals_conceded.png' %}" alt="" width="50">
                <p class="text-muted small">Пропущенные мячи </p>
                <h3>{{ total_goals_conceded }}</h3>
            </div>
        </div>
    </div>
    <br>

    <!--Фильтры-->
    <form method="get" class="">
        <div class="row">
            <div class="col-6">
                <label for="start_date">Матчи с:</label>
                <input type="date" class="form-control" id="start_date" name="start_date">
            </div>
            <div class="col-6">
                <label for="end_date">до:</label>
                <input type="date" class="form-control" id="end_date" name="end_date">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="status">Статус:</label>
                <select class="form-control" id="status" name="status">
                    <option value="">Все</option>
                    <option value="Победа">Победа</option>
                    <option value="Ничья">Ничья</option>
                    <option value="Поражение">Поражение</option>
                </select>
            </div>
            <div class="col-6">
                <label for="opponent">Соперник:</label>
                <select class="form-control" id="opponent" name="opponent">
                    <option value="">Все</option>
                    {% for opponent in opponents %}
                    <option value="{{ opponent }}">{{ opponent }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Применить фильтры</button>
                    <a href="{% url 'match_list' %}" class="btn btn-secondary">Сбросить</a>
                </div>
            </div>
        </div>
    </form>

    <br>

    <!-- Список матчей -->
    <ul style="text-align: center;">
        {% for match in matches %}
        <li class="border-bottom">
            <div class="col">
                <div class="card h-100 {% if match.status == 'Победа' %}match-victory{% elif match.status == 'Ничья' %}match-draw{% elif match.status == 'Поражение' %}match-defeat{% endif %}">
                    <a href="{% url 'match_detail' match.id %}">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col text-center">
                                    {{ match.first_team }}
                                </div>
                                <div class="col text-center">
                                    <div class="h3">{{ match.goals_scored }} : {{ match.goals_conceded }}</div>
                                    <div class="small">{{ match.date|date:"d:m:y" }}</div>
                                </div>
                                <div class="col text-center">
                                    {{ match.second_team }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}