{% extends 'base.html' %}
{% load static %}

{% block content %}
<ul>
    {% for match in matches %}
    <li class="border-bottom">
            <div class="container text-center">
                <div class="row">
                    <div class="col text-center">
                        {{ match.first_team }}
                    </div>
                    <div class="col text-center">
                        <div class="h3">{{ match.result }}</div>
                        <div class="small">{{ match.date|date:"d:m:y" }}</div>
                    </div>
                    <div class="col text-center">
                        {{ match.second_team }}
                    </div>
                </div>
            </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}
