{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Основное фото игрока -->
        <div class="col-md-4">
            <div class="card">
                {% if player.main_photo %}
                <img src="{{ player.main_photo.url }}" alt="{{ player.name }}" class="card-img-top">
                {% else %}
                <div class="card-img-top bg-light d-flex align-items-center justify-content-center">
                    <img src="{% static 'img/default_image.jpg' %}" alt="" width="280">
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Информация об игроке -->
        <div class="col-md-8">
            <h1>{{ player.last_name }} {{ player.first_name }}</h1>
            <ul class="list-group">
                <li class="list-group-item">Дата рождения: {{ player.date_of_birth }}</li>
                <li class="list-group-item">Амплуа: {{ player.get_position_display }}</li>
                <li class="list-group-item">Команда: {{ player.team.name }}</li>
            </ul>
        </div>
    </div>

    <!-- Дополнительные фото игрока -->
    <h2 class="text-center">Дополнительные фото</h2>
    <div class="photo-grid">
    {% for photo in additional_photos %}
        <div class="photo-item">
            <a href="{{ photo.image.url }}">
                <img src="{{ photo.image.url }}" alt="{{ photo.description }}" class="responsive-image">
            </a>
            <p class="card-text">{{ photo.description }}</p>
        </div>
    {% empty %}
        <p class="text-center text-muted">Дополнительных фото нет.</p>
    {% endfor %}
</div>



<!-- Видео игрока -->
<div class="row mt-5">
    <h2 class="text-center">Видео</h2>
    {% for video in additional_videos %}
    <div class="col-md-4">
        <div class="card mb-4" style="height: 300px;">
            <video class="embed-responsive embed-responsive-16by9" controls style="height: 100%;">
                <source src="{{ video.video.url }}" type="video/mp4">
                Ваш браузер не поддерживает тег video.
            </video>
            <p>{{ video.description }}</p>
        </div>
    </div>
    {% empty %}
    <p class="text-center text-muted">Видео отсутствуют.</p>
    {% endfor %}
</div>

<!-- Матчи, в которых игрок забивал голы -->
<div class="row mt-5">
    <h2 class="text-center">Результативные матчи</h2>
    {% for goal in player.goal_set.all %}
    <div class="col-md-6 mb-3">
        <a href="{% url 'match_detail' goal.match.id %}">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ goal.match }}<br>{{ goal.match.goals_scored }}:{{
                        goal.match.goals_conceded }}</h5>
                    <p class="card-text">{{ goal.match.date|date:"d:m:y" }} Колличество голов: {{ goal.goals }} </p>
                </div>
            </div>
        </a>
    </div>
    {% empty %}
    <p class="text-center text-muted">Матчей нет.</p>
    {% endfor %}
</div>

</div>
{% endblock %}
